.loginText {
    color: #fd7e14;
    font-weight: bold;
    cursor: pointer;
}

.registerText {
    color: #fd7e14;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}