body{
    
    background-image: linear-gradient(to top, #d46e0e 0%, #f9d423 100%) ;
}

.btn {
    background-color: #fd7e14;
}

.login-card {
   
    min-height: 80vh;
    background-color: #F5E625;
   
}

.registerText {
    color: #f4f5f7;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}