
.login-card {
    min-height: 40vh;
    background-color: #ff9900;
}

.registerText {
    color: #f4f5f7;
    font-weight: bold;
    cursor: pointer;
}

.successMessage {
    color: green;
    font-weight: bold;
}